Always read the feature\RefactorLongJS\RefactoringApproach.md file before starting a task.
Always read the feature\RefactorLongJS\ImplementationPlan.md file before starting a task.

Do not refactor any code without approval.
Only make edits to the code that are directly related to the current task.
Do not add new features or functionality without approval.
Do not remove any existing functionality without approval.
Do not add new dependencies without approval.
Do not remove any existing dependencies without approval.
Do not change the project structure without approval.
Do not change the file names without approval.
Do not change the folder names without approval.
Do not change the file extensions without approval.
Do not work on files that are not directly related to the current task.
Do not work on other tasks without approval.
No inline css styles
Prefer to use the bootstrap 5 framework
Bootstrap 5 is available in the asssets/js folder and asssets/css folders